@import '../../../../../styles/abstracts/variables.scss';

.googleLoginButton {
  width: 20rem;
  height: 3.5rem;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $light;
  background-color: $white;
  color: $dark;
  padding: 5px;
  border-radius: $default-border-radius;
  transition: background-color $default-transition-duration ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  &:hover {
    background-color: $light;
    transition: background-color $default-transition-duration ease-in-out;
  }

  .googleLoginText {
    font-family: $primary-medium;
    font-size: 15px;
  }

  .googleLogo {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
  }
}
