@import '../../../styles/abstracts/variables.scss';

.ButtonContainer {
  text-transform: none;
  font-weight: 400;
  font-size: .8571em;
  font-family: $primary-light;
  border: 1px solid transparent;
  background-color: transparent;
  text-align: center;
  height: 2.4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: $defaut-button-radius;
  padding: 10px 22px;
  margin: 10px 5px 10px 1px;
  &:hover {
    background-color: #00000000;
    border: 1px solid transparent;
    box-shadow: $default-button-hover-shadow;
    transition: box-shadow $default-transition-duration ease-in-out;
  }
}


.default,
.default:focus,
.default:hover,
.default:active{
  color: $white !important;
  background-color: $default !important;
  border-color: $default !important;
}

.defaultOutlined,
.defaultOutlined:active,
.defaultOutlined:focus {
  color: $default !important;
  background-color: transparent !important;
  border-color: $default !important;
  box-shadow: none !important;
  &:hover {
    color: $hover-default !important;
    background-color: transparent !important;
    border-color: $default !important;
    box-shadow: none !important;
  }
}

.primary,
.primary:focus,
.primary:active {
  color: $white !important;
  background-color: $primary !important;
  border-color: $primary !important;
  &:hover {
  color: $white !important;
  background-color: $hover-primary !important;
  transition: background-color $default-transition-duration !important;
  }
}

.primaryOutlined,
.primaryOutlined:active,
.primaryOutlined:focus {
  color: $primary !important;
  background-color: transparent !important;
  border-color: $primary !important;
  box-shadow: none !important;
  &:hover {
    color: $hover-primary !important;
    background-color: transparent !important;
    border-color: $primary !important;
    box-shadow: none !important;
  }
}

.info,
.info:active,
.info:focus {
  color: $white !important;
  background-color: $info !important;
  border-color: $info !important;
  &:hover {
    color: $white !important;
    background-color: $hover-info !important;
    transition: background-color $default-transition-duration !important;
  }
}

.infoOutlined,
.infoOutlined:active,
.infoOutlined:focus {
  color: $info !important;
  background-color: transparent !important;
  border-color: $info !important;
  box-shadow: none !important;
  &:hover {
    color: $hover-info !important;
    background-color: transparent !important;
    border-color: $info !important;
    box-shadow: none !important;
  }
}

.success,
.success:active,
.success:focus {
  color: $white !important;
  background-color: $success !important;
  border-color: $success !important;
  &:hover {
    color: $white !important;
    background-color: $hover-success !important;
    transition: background-color $default-transition-duration !important;
  }
}

.successOutlined,
.successOutlined:active,
.successOutlined:focus {
  color: $success !important;
  background-color: transparent !important;
  border-color: $success !important;
  box-shadow: none !important;
  &:hover {
    color: $hover-success !important;
    background-color: transparent !important;
    border-color: $success !important;
    box-shadow: none !important;
  }
}

.danger,
.danger:active,
.danger:focus {
  color: $white !important;
  background-color: $danger !important;
  border-color: $danger !important;
  &:hover {
    color: $white !important;
    background-color: $hover-danger !important;
    transition: background-color $default-transition-duration !important;
  }
}

.dangerOutlined,
.dangerOutlined:active,
.dangerOutlined:focus {
  color: $danger !important;
  background-color: transparent !important;
  border-color: $danger !important;
  box-shadow: none !important;
  &:hover {
    color: $hover-danger !important;
    background-color: transparent !important;
    border-color: $danger !important;
    box-shadow: none !important;
  }
}

.warning,
.warning:active,
.warning:focus {
  color: $white !important;
  background-color: $warning !important;
  border-color: $warning !important;
  &:hover {
    color: $white !important;
    background-color: $hover-warning !important;
    transition: background-color $default-transition-duration !important;
  }
}

.warningOutlined,
.warningOutlined:active,
.warningOutlined:focus {
  color: $warning !important;
  background-color: transparent !important;
  border-color: $warning !important;
  box-shadow: none !important;
  &:hover {
    color: $hover-warning !important;
    background-color: transparent !important;
    border-color: $warning !important;
    box-shadow: none !important;
  }
}
