@import '../../../../../styles/abstracts/variables.scss';

.filterContainer {
  border-bottom: 2.5px solid #1890ff;
  margin-top: -0.8rem;
  :global {
    line-height: 3.5;
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border-radius: 8px;
    }
    .ant-alert-info {
      border-radius: 20px;
    }
    .ant-picker {
      border-radius: 8px;
      margin-right: 10px;
      height: 33px;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border-color: #1890ff;
    }
  }
  .buttonModalWrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
  }
  .modalFooterButtonStyle {
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .iconModalStyle {
    color: #bfbfbf;
  }
  .todayButton {
    border-color: #1890ff;
    color: #bfbfbf;
  }
  .outlined {
    border-color: #1890ff;
  }

  .filterRow {
    display: flex;
  }
  .resetButton {
    color: #1890ff;
  }
}
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media only screen and (min-device-width: 768px) and (max-device-width: 1240px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}
