@import "../../../styles/abstracts/variables.scss";

:global {
  .ant-switch {
    background-color: transparent !important;
    border: 1px solid $light !important;
    outline: none;
    box-shadow: none !important;

    .ant-switch-handle::before {
      background-color: $light !important;
      box-shadow: none !important;
      bottom: 1px !important;
      top: -1px !important;
    } 
  }

  .ant-switch-checked {
    background-color: transparent !important;
    border: 1px solid $primary !important;
    outline: none;
    box-shadow: none !important;

    .ant-switch-handle::before {
      background-color: $primary !important;
    }
  }
}
