@import '../../../styles/abstracts/variables.scss';

.Header {
  width: 100%;
  text-align: start;
  padding: 0 $app-padding;
  font-family: $primary-light;
  font-size: small;
  text-transform: uppercase;
}