@import '../../../../../styles/abstracts/variables.scss';

.menuHeader {
  background-color: $white;
  display: flex;
  padding: 0 3rem 0 1rem;
  width: 100%;
  align-items: center;
  height: 5vh;
}
.menuHeaderRight {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  :global {
    .ant-btn {
      border-radius: 8px;
    }
  }
}
.dateStringStyle {
  margin-right: 3rem;
  margin-top: 15px;
  font-family: $primary-bold;
}

.menuHeaderLeft {
  width: 100%;
  display: flex;
  align-items: center;
}

.logoStyle {
  width: 100px;
}
.logoTitleStyle {
  font-family: $primary-bold;
  font-size: 30px;
  margin-top: 1rem;
  display: flex;
  justify-content: start;
  padding-right: 1.5rem;
}

.logoutButtonStyle {
  border-radius: 15px;
  margin-top: 10px;
}

.userNameStyle {
  font-family: $primary-bold;
  font-size: 15px;
  margin-bottom: 0px;
  padding: 0 4rem 0 0.5rem;
}
.avatarStyle {
  box-shadow: #1890ff 0px 1px 4px, #1890ff 0px 0px 0px 3px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media only screen and (min-device-width: 800px) and (max-device-width: 2400px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .menuHeader {
    height: 8vh;
  }
  .logoStyle {
    width: 70px;
  }
  .logoTitleStyle {
    font-family: $primary-bold;
    font-size: 25px;
    margin-top: 0.7rem;
  }
  .userNameStyle {
    font-family: $primary-bold;
    font-size: 15px;
    margin-bottom: -5px;
    padding: 0 4rem 0 0.5rem;
  }
  .logoutButtonStyle {
    border-radius: 15px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-device-width: 500px) and (max-device-width: 1112px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .menuHeader {
    height: 8vh;
  }
  .logoStyle {
    width: 70px;
  }
  .logoTitleStyle {
    font-family: $primary-bold;
    font-size: 25px;
    margin-top: 0.7rem;
  }
  .userNameStyle {
    font-family: $primary-bold;
    font-size: 15px;
    margin-bottom: -5px;
    padding: 0 4rem 0 0.5rem;
  }
  .logoutButtonStyle {
    border-radius: 15px;
    margin-bottom: 10px;
  }
}
