@import "../../../styles/abstracts/variables.scss";

.Table {
  overflow-x: auto;
  :global {
    width: 100%;
    .ant-table-ping-right:not(.ant-table-has-fix-right) .ant-table-container::after {
      box-shadow: none;
    }
    .ant-table {
      width: 100%;
      .ant-table-tbody > tr.ant-table-row:hover > td, .ant-table-tbody > tr > td.ant-table-cell-row-hover {
        background: transparent;
      }
      .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
        background-color: transparent;
      }
      .ant-table-cell {
        font-family: $primary-regular;
        border-bottom: 1px solid $light;
        padding: 4px 16px;
        background-color: $white;
      }
      .ant-table-thead {
        tr {
          th {
            text-transform: capitalize;
            padding: 4px 0 4px 16px;
            border-bottom: 1px solid $light;
            font-family: $primary-light;
            font-size: medium;
            color: $primary;
          }
        }
      }
      .ant-table-tbody {
        // tr {
          .ant-table-cell {
            font-size: small;
          }
        // }
      }
      .ant-table-footer {
          background: $white;
      }
    }
    .ant-pagination {
      background: $white;
      margin: 0;
      padding:  0 16px;
      border-radius: 0 0 10px 10px;
      .ant-pagination-item {
        background-color: $white;
        border: 1px solid $light;
        border-radius: 50%; 
      }
      .ant-pagination-prev button,
      .ant-pagination-next button 
      {
        color: $gray;
        border-radius: 50%; 
      }
      .ant-pagination-prev:hover button,
      .ant-pagination-next:hover button,
      .ant-pagination-item:hover {
        background-color: $table-hover-background;
        border-color: $table-hover-background;
      }
      .ant-pagination-item-active a {
        color: $white;
      }
      .ant-pagination-item-active{
        background-color: $primary;
        border: none;
      }
      .ant-pagination-item-active:hover {
        background-color: $primary;
        border: none;
      }    
    }
  }
}
