@import '../../../../../styles/abstracts/variables.scss';

.dailyHistoryContainer {
  flex: 0.3;
  height: 83vh;
  border-radius: 15px;
  box-shadow: #1890ff 0px 1px 4px, #1890ff 0px 0px 0px 3px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  :global {
    .ant-btn {
      border-radius: 40px;
      padding: 5px 10px 5px 10px;
    }
    .ant-list-item-meta-content {
      flex: 0.4 1 !important;
    }
    .ant-list-item-action {
      margin-left: 0px !important;
    }
    .ant-divider-horizontal.ant-divider-with-text {
      border-top-color: #1890ff;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

.dailyHistoryTitleStyle {
  font-family: $primary-bold;
  font-size: 25px;
  padding-top: 20px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  background-color: #1890ff;
  color: white;
  height: 70px;
}

.iconStyles {
  font-size: 20px;
  color: #1890ff;
}

.titleIconStyles {
  padding-top: 5px;
}

.iconDeleteStyles {
  font-size: 20px;
  color: #ff3b4f;
}

.tooltipStyle {
  border-radius: 20px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media only screen and (min-device-width: 800px) and (max-device-width: 2400px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .dailyHistoryContainer {
    :global {
      .ant-list-item-meta-content {
        flex: 1 1 !important;
      }
    }
  }
}

@media only screen and (min-device-width: 500px) and (max-device-width: 1112px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}
